/*.iml
/*.pem
/.classpath
/.idea
/.project
/.settings
/C-*.log
/ca-pkcs8-key.pem
/ca-x509-cert.pem
/logs
/nbactions.xml
/saw.log
/saw.log.*
/ses.log
/ses.log.*
/target
/temp-testng-customsuite.xml
/test-output
