* text=auto !eol
/AllUnitTests.xml -text svneol=unset#text/plain
/commandline.sh.example -text
/file-has-lds-account-1234-test.xml -text svneol=unset#text/plain
/mvn-ctl.sh -text
/mvn.sh -text
/pom.xml -text svneol=unset#text/plain
/run-all-unit-tests.xml -text svneol=unset#text/plain
/ses.dtd -text svneol=unset#text/plain
/ses.log.1 -text
/sim.bat -text
/sim.sh -text
src/main/assembly/jar-assembly.xml -text
src/main/java/org/lds/sso/appwrap/AllowedUri.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/AppEndPoint.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/Config.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/EndPoint.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/Entitlement.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/EntitlementsManager.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/LocalFileEndPoint.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/NvPair.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/PermittedUri.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/Service.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/Session.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/SessionManager.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/ShimStateCookieUtils.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/SiteMatcher.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/TrafficManager.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/TrafficRecorder.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/UnenforcedUri.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/User.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/UserManager.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/VirtualSite.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/XmlConfigLoader2.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/conditions/evaluator/EvaluationContext.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/conditions/evaluator/EvaluationException.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/conditions/evaluator/IEvaluator.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/conditions/evaluator/IEvaluatorContainer.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/conditions/evaluator/LogicalSyntaxEvaluationEngine.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/conditions/evaluator/UserHeaderNames.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/conditions/evaluator/syntax/AND.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/conditions/evaluator/syntax/Assignment.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/conditions/evaluator/syntax/CtxMatches.java -text
src/main/java/org/lds/sso/appwrap/conditions/evaluator/syntax/HasAssignment.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/conditions/evaluator/syntax/HasLdsAccountId.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/conditions/evaluator/syntax/HasPosition.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/conditions/evaluator/syntax/IsEmployee.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/conditions/evaluator/syntax/IsMember.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/conditions/evaluator/syntax/LdsAccount.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/conditions/evaluator/syntax/MemberOfUnit.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/conditions/evaluator/syntax/NOT.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/conditions/evaluator/syntax/OR.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/conditions/evaluator/syntax/Position.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/conditions/evaluator/syntax/SyntaxBase.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/conditions/evaluator/syntax/Unit.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/proxy/CookiePathRewriter.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/proxy/Header.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/proxy/HeaderBuffer.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/proxy/HeaderDef.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/proxy/HttpPackage.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/proxy/HttpPackageType.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/proxy/ProxyListener.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/proxy/RequestHandler.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/proxy/RequestLine.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/proxy/ResponseLine.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/proxy/StartLine.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/proxy/TrafficType.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/rest/AuthNHandler.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/rest/AuthZHandler.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/rest/GetCookieName.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/rest/IsTokenValidHandler.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/rest/LogoutHandler.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/rest/RestHandlerBase.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/rest/RestVersion.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/rest/oes/v1/ArePermitted.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/rest/oes/v1/AreTokensValid.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/rest/oes/v1/GetOesV1CookieName.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/ui/BaseMapImpl.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/ui/JspUtils.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/ui/rest/Add404UriToCfgHandler.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/ui/rest/CodaServiceResponseParser.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/ui/rest/ConfigInjectingHandlerList.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/ui/rest/JettyWebappUrlAdjustingHandler.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/ui/rest/LogFileHandler.java -text
src/main/java/org/lds/sso/appwrap/ui/rest/SelectSessionHandler.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/ui/rest/SelectUserHandler.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/ui/rest/TerminateSessionHandler.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/ui/rest/TrafficRecordingHandler.java -text svneol=unset#text/plain
src/main/resources/config-samples/console-only-lds-policy-cookie.xml -text svneol=unset#text/plain
src/main/resources/config-samples/console-only.xml -text
src/main/resources/config-samples/leader.xml -text svneol=unset#text/plain
src/main/resources/config-samples/leadership-leader.out.xml -text svneol=unset#text/plain
src/main/resources/config-samples/leadership-leader.xml -text svneol=unset#text/plain
src/main/resources/config-samples/ml-client-lib-tests.xml -text svneol=unset#text/plain
src/main/resources/config-samples/mlAuth_mlError_sample.xml -text
src/main/resources/config-samples/ngiwb1-cal-data.json -text
src/main/resources/config-samples/ses_console_with_users_sample.xml -text
src/main/resources/config-samples/ses_directory_file_serving_sample.xml -text svneol=unset#text/plain
src/main/resources/config-samples/ses_dual_debug_site_sample.xml -text
src/main/resources/config-samples/ses_file_serving_sample.xml -text svneol=unset#text/plain
src/main/resources/config-samples/ses_login_sample.xml -text
src/main/resources/config-samples/ses_login_sample_condition_test.xml -text
src/main/resources/config-samples/ses_login_sample_non_site_coda.xml -text svneol=unset#text/plain
src/main/resources/config-samples/tech-lds-org.xml -text svneol=unset#text/plain
src/main/resources/local-config.xml -text svneol=unset#text/plain
src/main/resources/local-config2.xml -text svneol=unset#text/plain
src/main/resources/log4j.properties -text svneol=unset#text/plain
src/main/resources/webapp/add.gif -text
src/main/resources/webapp/apps.jsp -text svneol=unset#text/plain
src/main/resources/webapp/cancel.gif -text
src/main/resources/webapp/codaUserSelect.jsp -text svneol=unset#text/plain
src/main/resources/webapp/debug.jsp -text svneol=unset#text/plain
src/main/resources/webapp/delete.gif -text
src/main/resources/webapp/listUsers.jsp -text
src/main/resources/webapp/pointer.png -text
src/main/resources/webapp/rest-traffic.jsp -text svneol=unset#text/plain
src/main/resources/webapp/selectUser.jsp -text svneol=unset#text/plain
src/main/resources/webapp/simpleSelectUser.jsp -text svneol=unset#text/plain
src/main/resources/webapp/traffic.jsp -text svneol=unset#text/plain
src/main/resources/webapp/unlock.gif -text
src/test/java/org/lds/sso/appwrap/AppEndPointTest.java -text svneol=unset#text/plain
src/test/java/org/lds/sso/appwrap/AppManagerTest.java -text svneol=unset#text/plain
src/test/java/org/lds/sso/appwrap/EmptyQueryParmTest.java -text svneol=unset#text/plain
src/test/java/org/lds/sso/appwrap/EntitlementsManagerTest.java -text svneol=unset#text/plain
src/test/java/org/lds/sso/appwrap/RepeatRequestCacheTest.java -text svneol=unset#text/plain
src/test/java/org/lds/sso/appwrap/SessionManagerTest.java -text svneol=unset#text/plain
src/test/java/org/lds/sso/appwrap/TestJettyJspApproach.java -text svneol=unset#text/plain
src/test/java/org/lds/sso/appwrap/TestTimestamp.java -text svneol=unset#text/plain
src/test/java/org/lds/sso/appwrap/TestUtilities.java -text svneol=unset#text/plain
src/test/java/org/lds/sso/appwrap/UserManagerTest.java -text svneol=unset#text/plain
src/test/java/org/lds/sso/appwrap/XmlConfigLoaderTest.java -text svneol=unset#text/plain
src/test/java/org/lds/sso/appwrap/conditions/evaluator/EvaluationContextTest.java -text svneol=unset#text/plain
src/test/java/org/lds/sso/appwrap/conditions/evaluator/LogicalSyntaxEvaluationEngineTest.java -text svneol=unset#text/plain
src/test/java/org/lds/sso/appwrap/conditions/evaluator/syntax/ANDTest.java -text svneol=unset#text/plain
src/test/java/org/lds/sso/appwrap/conditions/evaluator/syntax/ComplexSyntaxTest.java -text svneol=unset#text/plain
src/test/java/org/lds/sso/appwrap/conditions/evaluator/syntax/HasAssignmentTest.java -text svneol=unset#text/plain
src/test/java/org/lds/sso/appwrap/conditions/evaluator/syntax/HasLdsAccountIdTest.java -text svneol=unset#text/plain
src/test/java/org/lds/sso/appwrap/conditions/evaluator/syntax/HasPositionTest.java -text svneol=unset#text/plain
src/test/java/org/lds/sso/appwrap/conditions/evaluator/syntax/IsEmployeeTest.java -text svneol=unset#text/plain
src/test/java/org/lds/sso/appwrap/conditions/evaluator/syntax/IsMemberTest.java -text svneol=unset#text/plain
src/test/java/org/lds/sso/appwrap/conditions/evaluator/syntax/MemberOfUnitTest.java -text svneol=unset#text/plain
src/test/java/org/lds/sso/appwrap/conditions/evaluator/syntax/NOTTest.java -text svneol=unset#text/plain
src/test/java/org/lds/sso/appwrap/conditions/evaluator/syntax/ORTest.java -text svneol=unset#text/plain
src/test/java/org/lds/sso/appwrap/conditions/evaluator/syntax/StringWriterAppender.java -text svneol=unset#text/plain
src/test/java/org/lds/sso/appwrap/conditions/evaluator/syntax/TestBaseClass.java -text svneol=unset#text/plain
src/test/java/org/lds/sso/appwrap/proxy/CookiePathAndRedirectRewriteTest.java -text svneol=unset#text/plain
src/test/java/org/lds/sso/appwrap/proxy/HeaderBufferTest.java -text svneol=unset#text/plain
src/test/java/org/lds/sso/appwrap/proxy/HeaderDefTest.java -text svneol=unset#text/plain
src/test/java/org/lds/sso/appwrap/proxy/HeaderTest.java -text svneol=unset#text/plain
src/test/java/org/lds/sso/appwrap/proxy/RequestHandlerTest.java -text svneol=unset#text/plain
src/test/java/org/lds/sso/appwrap/proxy/StartLineTest.java -text svneol=unset#text/plain
src/test/java/org/lds/sso/appwrap/rest/TestAuthZHandler.java -text svneol=unset#text/plain
src/test/java/org/lds/sso/appwrap/rest/oes/v1/RestHttpTest.java -text svneol=unset#text/plain
src/test/java/org/lds/sso/appwrap/ui/rest/CodaServiceResponseParserTest.java -text svneol=unset#text/plain
src/test/resources/CodaServiceResponseParserTest-bad.txt -text svneol=unset#text/plain
src/test/resources/CodaServiceResponseParserTest-good.txt -text svneol=unset#text/plain
src/test/resources/ComplexSyntaxTest.xml -text svneol=unset#text/plain
src/test/resources/XmlConfigLoaderTest.txt -text svneol=unset#text/plain
src/test/resources/has-lds-account-1234-test.xml -text svneol=unset#text/plain
src/test/resources/is-bishop-test.xml -text svneol=unset#text/plain
src/test/resources/is-corr-mod.xml -text svneol=unset#text/plain
src/test/resources/is-field-mod.xml -text svneol=unset#text/plain
src/test/resources/is-hq-mod.xml -text svneol=unset#text/plain
src/test/resources/is-ip-mod.xml -text svneol=unset#text/plain
src/test/resources/is-photo-ed.xml -text svneol=unset#text/plain
src/test/resources/leadership-leader.xml -text svneol=unset#text/plain
