* text=auto !eol
/Configuring[!!-~]the[!!-~]SSO[!!-~]Environment[!!-~]Simulator.docx -text
/YouthAppProxy.xml -text svneol=unset#text/plain
/commandline.sh.example -text
/mlAuth_mlError_sample.xml -text svneol=unset#text/plain
/pom.xml -text svneol=unset#text/plain
/run-all-unit-tests.xml -text svneol=unset#text/plain
/saw.dtd -text svneol=unset#text/plain
/saws_login_sample.xml -text svneol=unset#text/plain
/saws_login_sample_condition_test.xml -text svneol=unset#text/plain
/saws_login_sample_non_site.xml -text svneol=unset#text/plain
/sim.bat -text
/sim.sh -text
src/main/java/org/lds/sso/appwrap/AllowedUri.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/AppEndPoint.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/Config.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/NvPair.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/PermittedUri.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/Service.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/Session.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/SessionManager.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/ShimStateCookieUtils.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/SiteMatcher.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/TrafficManager.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/TrafficRecorder.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/UnenforcedUri.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/User.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/UserManager.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/VirtualSite.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/XmlConfigLoader2.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/opensso/AssignmentsChainInjector.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/opensso/HeadersToSSOTokenInjector.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/opensso/LegacyPropsInjectorDefs.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/opensso/MyDebug.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/opensso/MyProvider.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/opensso/UnitsChainInjector.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/proxy/HttpPackage.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/proxy/HttpPackageType.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/proxy/ProxyListener.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/proxy/RequestHandler.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/proxy/RequestLine.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/proxy/ResponseLine.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/proxy/StartLine.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/proxy/TrafficType.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/rest/AuthNHandler.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/rest/AuthZHandler.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/rest/GetCookieName.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/rest/IsTokenValidHandler.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/rest/LogoutHandler.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/rest/RestHandlerBase.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/ui/BaseMapImpl.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/ui/JspUtils.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/ui/rest/Add404UriToCfgHandler.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/ui/rest/ConfigInjectingHandlerList.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/ui/rest/JettyWebappUrlAdjustingHandler.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/ui/rest/SelectSessionHandler.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/ui/rest/SelectUserHandler.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/ui/rest/TerminateSessionHandler.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/ui/rest/TrafficRecordingHandler.java -text svneol=unset#text/plain
src/main/resources/local-config.xml -text svneol=unset#text/plain
src/main/resources/local-config2.xml -text svneol=unset#text/plain
src/main/resources/log4j.properties -text svneol=unset#text/plain
src/main/resources/webapp/add.gif -text
src/main/resources/webapp/apps.jsp -text svneol=unset#text/plain
src/main/resources/webapp/cancel.gif -text
src/main/resources/webapp/debug.jsp -text svneol=unset#text/plain
src/main/resources/webapp/delete.gif -text
src/main/resources/webapp/listUsers.jsp -text
src/main/resources/webapp/pointer.png -text
src/main/resources/webapp/rest-traffic.jsp -text svneol=unset#text/plain
src/main/resources/webapp/selectUser.jsp -text svneol=unset#text/plain
src/main/resources/webapp/simpleSelectUser.jsp -text svneol=unset#text/plain
src/main/resources/webapp/traffic.jsp -text svneol=unset#text/plain
src/main/resources/webapp/unlock.gif -text
src/test/java/org/lds/sso/appwrap/AppEndPointTest.java -text svneol=unset#text/plain
src/test/java/org/lds/sso/appwrap/AppManagerTest.java -text svneol=unset#text/plain
src/test/java/org/lds/sso/appwrap/IntegrationTests.java -text svneol=unset#text/plain
src/test/java/org/lds/sso/appwrap/RepeatRequestCacheTest.java -text svneol=unset#text/plain
src/test/java/org/lds/sso/appwrap/TestEnc.java -text svneol=unset#text/plain
src/test/java/org/lds/sso/appwrap/TestJettyJspApproach.java -text svneol=unset#text/plain
src/test/java/org/lds/sso/appwrap/TestTimestamp.java -text svneol=unset#text/plain
src/test/java/org/lds/sso/appwrap/XmlConfigLoaderTest.java -text svneol=unset#text/plain
src/test/java/org/lds/sso/appwrap/opensso/AssignmentsChainInjectorTest.java -text svneol=unset#text/plain
src/test/java/org/lds/sso/appwrap/opensso/UnitsChainTranslatorTest.java -text svneol=unset#text/plain
src/test/java/org/lds/sso/appwrap/proxy/RedirectRewriteTest.java -text svneol=unset#text/plain
src/test/java/org/lds/sso/appwrap/proxy/StartLineTest.java -text svneol=unset#text/plain
src/test/java/org/lds/sso/appwrap/rest/TestAuthZHandler.java -text svneol=unset#text/plain
src/test/resources/XmlConfigLoaderTest.txt -text svneol=unset#text/plain
src/test/resources/has-lds-account-1234-test.xml -text svneol=unset#text/plain
src/test/resources/is-bishop-test.xml -text svneol=unset#text/plain
src/test/resources/is-corr-mod.xml -text svneol=unset#text/plain
src/test/resources/is-field-mod.xml -text svneol=unset#text/plain
src/test/resources/is-hq-mod.xml -text svneol=unset#text/plain
src/test/resources/is-ip-mod.xml -text svneol=unset#text/plain
src/test/resources/is-photo-ed.xml -text svneol=unset#text/plain
