* text=auto !eol
/AllUnitTests.xml -text svneol=unset#text/plain
/ca-cert-gen-readme.txt -text
/commandline.sh.example -text
/cp.txt -text svneol=unset#text/plain
/file-has-lds-app-1234-test.xml -text svneol=unset#text/plain
/mvn-ctl.sh -text
/mvn.sh -text
/pom.xml -text svneol=unset#text/plain
/run-all-unit-tests.xml -text svneol=unset#text/plain
/sample-output.txt -text svneol=unset#text/plain
/sample-output2.txt -text svneol=unset#text/plain
/ses.dtd -text svneol=unset#text/plain
/sim.bat -text
/sim.sh -text
src/main/assembly/jar-assembly.xml -text
src/main/java/org/lds/sso/appwrap/AllowedUri.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/AppEndPoint.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/Config.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/DeniedUri.java -text
src/main/java/org/lds/sso/appwrap/EndPoint.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/Entitlement.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/EntitlementsManager.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/LocalFileEndPoint.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/NullValidator.java -text
src/main/java/org/lds/sso/appwrap/NvPair.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/OrderedUri.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/PermittedUri.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/PomVersionExtractor.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/Service.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/ShimStateCookieUtils.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/SiteMatcher.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/TrafficManager.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/TrafficRecorder.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/UnenforcedUri.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/UriMatcher.java -text
src/main/java/org/lds/sso/appwrap/VirtualSite.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/XmlConfigLoader2.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/bootstrap/BlockingServiceCommand.java -text
src/main/java/org/lds/sso/appwrap/bootstrap/Command.java -text
src/main/java/org/lds/sso/appwrap/bootstrap/RemoteStartServiceCommand.java -text
src/main/java/org/lds/sso/appwrap/bootstrap/RemoteStopServiceCommand.java -text
src/main/java/org/lds/sso/appwrap/bootstrap/StartingServiceCommand.java -text
src/main/java/org/lds/sso/appwrap/bootstrap/StoppingServiceCommand.java -text
src/main/java/org/lds/sso/appwrap/conditions/evaluator/EvaluationContext.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/conditions/evaluator/EvaluationException.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/conditions/evaluator/GlobalHeaderNames.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/conditions/evaluator/IEvaluator.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/conditions/evaluator/IEvaluatorContainer.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/conditions/evaluator/LogicalSyntaxEvaluationEngine.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/conditions/evaluator/syntax/AND.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/conditions/evaluator/syntax/AllowDeny.java -text
src/main/java/org/lds/sso/appwrap/conditions/evaluator/syntax/Attribute.java -text
src/main/java/org/lds/sso/appwrap/conditions/evaluator/syntax/NOT.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/conditions/evaluator/syntax/OR.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/conditions/evaluator/syntax/SyntaxBase.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/exception/ConfigParserException.java -text
src/main/java/org/lds/sso/appwrap/exception/ServerFailureException.java -text
src/main/java/org/lds/sso/appwrap/exception/ServerStartFailureException.java -text
src/main/java/org/lds/sso/appwrap/exception/ServerStopFailureException.java -text
src/main/java/org/lds/sso/appwrap/exception/ServerTimeoutFailureException.java -text
src/main/java/org/lds/sso/appwrap/exception/UnableToListenOnHttpsProxyPortException.java -text
src/main/java/org/lds/sso/appwrap/exception/UnableToListenOnProxyPortException.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/exception/UnableToStartJettyServerException.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/exception/UnableToStopJettyServerException.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/identity/ExternalUserSource.java -text
src/main/java/org/lds/sso/appwrap/identity/Session.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/identity/SessionManager.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/identity/User.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/identity/UserManager.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/identity/coda/CodaServiceResponseParser.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/identity/coda/CodaUserSource.java -text
src/main/java/org/lds/sso/appwrap/identity/ldap/LdapStore.java -text
src/main/java/org/lds/sso/appwrap/identity/ldap/LdapUserSource.java -text
src/main/java/org/lds/sso/appwrap/identity/ldap/TrustAllManager.java -text
src/main/java/org/lds/sso/appwrap/identity/ldap/UnableToBindEndUser.java -text
src/main/java/org/lds/sso/appwrap/identity/ldap/UnableToBindSearchUser.java -text
src/main/java/org/lds/sso/appwrap/identity/ldap/UnableToConnecToLdap.java -text
src/main/java/org/lds/sso/appwrap/identity/ldap/UnableToGetUserAttributes.java -text
src/main/java/org/lds/sso/appwrap/identity/ldap/UnableToLoadUserAttributes.java -text
src/main/java/org/lds/sso/appwrap/identity/ldap/UnableToSearchForUser.java -text
src/main/java/org/lds/sso/appwrap/identity/ldap/UserNotFound.java -text
src/main/java/org/lds/sso/appwrap/identity/legacy/WamulatorUserSource.java -text
src/main/java/org/lds/sso/appwrap/identity/wamulator/OtherWamulatorUserSource.java -text
src/main/java/org/lds/sso/appwrap/io/ChainingOutputStream.java -text
src/main/java/org/lds/sso/appwrap/io/LogUtils.java -text
src/main/java/org/lds/sso/appwrap/io/LoggingOutputStream.java -text
src/main/java/org/lds/sso/appwrap/io/SimpleErrorHandler.java -text
src/main/java/org/lds/sso/appwrap/model/AuthNScheme.java -text
src/main/java/org/lds/sso/appwrap/model/AuthZRule.java -text
src/main/java/org/lds/sso/appwrap/model/Condition.java -text
src/main/java/org/lds/sso/appwrap/model/Header.java -text
src/main/java/org/lds/sso/appwrap/model/Policy.java -text
src/main/java/org/lds/sso/appwrap/policy/WamulatorPolicySource.java -text
src/main/java/org/lds/sso/appwrap/proxy/CookiePathRewriter.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/proxy/HttpPackage.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/proxy/HttpPackageType.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/proxy/ListenerCoordinator.java -text
src/main/java/org/lds/sso/appwrap/proxy/ProxyListener.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/proxy/RequestHandler.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/proxy/RequestLine.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/proxy/ResponseLine.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/proxy/SetCookieHeaderExtractor.java -text
src/main/java/org/lds/sso/appwrap/proxy/StartLine.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/proxy/TrafficType.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/proxy/header/ConnectionHeaderHndlr.java -text
src/main/java/org/lds/sso/appwrap/proxy/header/ContentLengthHandler.java -text
src/main/java/org/lds/sso/appwrap/proxy/header/HandlerSet.java -text
src/main/java/org/lds/sso/appwrap/proxy/header/Header.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/proxy/header/HeaderBuffer.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/proxy/header/HeaderDef.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/proxy/header/HeaderHandler.java -text
src/main/java/org/lds/sso/appwrap/proxy/header/ReqHostHeaderHndlr.java -text
src/main/java/org/lds/sso/appwrap/proxy/header/ReqSessionCookieHandler.java -text
src/main/java/org/lds/sso/appwrap/proxy/header/ReqShimHeaderHndlr.java -text
src/main/java/org/lds/sso/appwrap/proxy/header/RespCookieRewriteHndlr.java -text
src/main/java/org/lds/sso/appwrap/proxy/header/RespLocationRewriteHndlr.java -text
src/main/java/org/lds/sso/appwrap/proxy/header/SecondPhaseAction.java -text
src/main/java/org/lds/sso/appwrap/proxy/tls/FixedTypeKeyManager.java -text
src/main/java/org/lds/sso/appwrap/proxy/tls/HttpsProxyListener.java -text
src/main/java/org/lds/sso/appwrap/proxy/tls/TrustAllManager.java -text
src/main/java/org/lds/sso/appwrap/rest/AuthNHandler.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/rest/AuthZHandler.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/rest/GetCookieName.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/rest/IsTokenValidHandler.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/rest/LogoutHandler.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/rest/RestHandlerBase.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/rest/RestVersion.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/rest/URLConnectionTemplate.java -text
src/main/java/org/lds/sso/appwrap/rest/exposeews/v1/CookieName.java -text
src/main/java/org/lds/sso/appwrap/rest/exposeews/v1/UserNameForToken.java -text
src/main/java/org/lds/sso/appwrap/rest/oes/v1/ArePermitted.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/rest/oes/v1/AreTokensValid.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/rest/oes/v1/GetOesV1CookieName.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/rest/oes/v1/HandlerHitLogger.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/security/LocalHostOnlyEnforcingHandler.java -text
src/main/java/org/lds/sso/appwrap/ui/BaseMapImpl.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/ui/FavIconHandler.java -text
src/main/java/org/lds/sso/appwrap/ui/ImAliveHandler.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/ui/JspUtils.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/ui/favicon.ico -text
src/main/java/org/lds/sso/appwrap/ui/rest/ConfigInjectingHandlerList.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/ui/rest/JettyWebappUrlAdjustingHandler.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/ui/rest/LogFileHandler.java -text
src/main/java/org/lds/sso/appwrap/ui/rest/SelectSessionHandler.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/ui/rest/SelectUserHandler.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/ui/rest/SignInPageCdssoHandler.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/ui/rest/TerminateSessionHandler.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/ui/rest/TerminateSimulatorHandler.java -text
src/main/java/org/lds/sso/appwrap/ui/rest/TrafficRecordingHandler.java -text svneol=unset#text/plain
src/main/java/org/lds/sso/appwrap/xml/Alias.java -text
src/main/java/org/lds/sso/appwrap/xml/AliasHolder.java -text
src/main/java/org/lds/sso/appwrap/xml/ClasspathAlias.java -text
src/main/java/org/lds/sso/appwrap/xml/FileAlias.java -text
src/main/java/org/lds/sso/appwrap/xml/PlaintextAlias.java -text
src/main/java/org/lds/sso/appwrap/xml/SystemAlias.java -text
src/main/resources/ca-cert.pem -text
src/main/resources/ca-private-key.pem -text
src/main/resources/config-samples/console-only-lds-policy-cookie.xml -text svneol=unset#text/plain
src/main/resources/config-samples/console-only.xml -text
src/main/resources/config-samples/ldsorg.xml -text svneol=unset#text/plain
src/main/resources/config-samples/ml-client-lib-tests.xml -text svneol=unset#text/plain
src/main/resources/config-samples/mlAuth.xml -text svneol=unset#text/plain
src/main/resources/config-samples/ngiwb1-cal-data.json -text
src/main/resources/config-samples/ses_console_with_users_sample.xml -text
src/main/resources/config-samples/ses_directory_file_serving_sample.xml -text svneol=unset#text/plain
src/main/resources/config-samples/ses_dual_debug_site_sample.xml -text
src/main/resources/config-samples/ses_file_serving_sample.xml -text svneol=unset#text/plain
src/main/resources/config-samples/ses_login_sample.xml -text
src/main/resources/config-samples/ses_login_sample_condition_test.xml -text
src/main/resources/config-samples/ses_login_sample_non_site_coda.xml -text svneol=unset#text/plain
src/main/resources/config-samples/tls_dual_debug_site_sample.xml -text
src/main/resources/ctx-request-processing-logging.properties -text
src/main/resources/local-config2.xml -text svneol=unset#text/plain
src/main/resources/logging.properties -text
src/main/resources/mime.types -text
src/main/resources/org/lds/sso/appwrap/wamulator-5.0.xsd -text
src/main/resources/webapp/WEB-INF/console-servlet.xml -text
src/main/resources/webapp/WEB-INF/web.xml -text
src/main/resources/webapp/add.gif -text
src/main/resources/webapp/apps.jsp -text svneol=unset#text/plain
src/main/resources/webapp/bullet_white.png -text
src/main/resources/webapp/cancel.gif -text
src/main/resources/webapp/codaUserSelect.jsp -text svneol=unset#text/plain
src/main/resources/webapp/css/console.css -text
src/main/resources/webapp/css/ie.css -text
src/main/resources/webapp/css/print.css -text
src/main/resources/webapp/css/project-ie.css -text
src/main/resources/webapp/css/project.css -text
src/main/resources/webapp/debug.jsp -text svneol=unset#text/plain
src/main/resources/webapp/delete.gif -text
src/main/resources/webapp/images/SSO-gradientBg.png -text
src/main/resources/webapp/images/downarrow-active.png -text
src/main/resources/webapp/images/downarrow-inactive.png -text
src/main/resources/webapp/images/ico-language-16.png -text
src/main/resources/webapp/images/ico_cancel.png -text
src/main/resources/webapp/images/ico_modalCancel.png -text
src/main/resources/webapp/images/keys.png -text
src/main/resources/webapp/images/logos/Logo-Chinese.png -text
src/main/resources/webapp/images/logos/Logo-Danish.png -text
src/main/resources/webapp/images/logos/Logo-Dutch.png -text
src/main/resources/webapp/images/logos/Logo-English.png -text
src/main/resources/webapp/images/logos/Logo-Fijian.png -text
src/main/resources/webapp/images/logos/Logo-Finnish.png -text
src/main/resources/webapp/images/logos/Logo-French.png -text
src/main/resources/webapp/images/logos/Logo-German.png -text
src/main/resources/webapp/images/logos/Logo-Hungarian.png -text
src/main/resources/webapp/images/logos/Logo-Indonesian.png -text
src/main/resources/webapp/images/logos/Logo-Italian.png -text
src/main/resources/webapp/images/logos/Logo-Japanese.png -text
src/main/resources/webapp/images/logos/Logo-Korean.png -text
src/main/resources/webapp/images/logos/Logo-Norwegian.png -text
src/main/resources/webapp/images/logos/Logo-Polish.png -text
src/main/resources/webapp/images/logos/Logo-Portuguese.png -text
src/main/resources/webapp/images/logos/Logo-Russian.png -text
src/main/resources/webapp/images/logos/Logo-Samoan.png -text
src/main/resources/webapp/images/logos/Logo-Simplified-Chinese.png -text
src/main/resources/webapp/images/logos/Logo-Spanish.png -text
src/main/resources/webapp/images/logos/Logo-Swedish.png -text
src/main/resources/webapp/images/logos/Logo-Thai.png -text
src/main/resources/webapp/images/logos/Logo-Tongan.png -text
src/main/resources/webapp/images/logos/Logo-Ukranian.png -text
src/main/resources/webapp/javascript/jquery-1.8.2.min.js -text
src/main/resources/webapp/javascript/page-ie.js -text
src/main/resources/webapp/javascript/page.js -text
src/main/resources/webapp/listUsers.jsp -text
src/main/resources/webapp/lock.png -text
src/main/resources/webapp/lock_go.png -text
src/main/resources/webapp/pointer.png -text
src/main/resources/webapp/rest-traffic.jsp -text svneol=unset#text/plain
src/main/resources/webapp/selectUser.jsp -text svneol=unset#text/plain
src/main/resources/webapp/signmeout.png -text
src/main/resources/webapp/simpleSelectUser.jsp -text svneol=unset#text/plain
src/main/resources/webapp/traffic.jsp -text svneol=unset#text/plain
src/main/resources/webapp/unlock.gif -text
src/main/resources/webapp/wam-logout.gif -text
src/main/versioning/about.txt -text svneol=unset#text/plain
src/test/java/org/lds/sso/appwrap/AppEndPointTest.java -text svneol=unset#text/plain
src/test/java/org/lds/sso/appwrap/AppManagerTest.java -text svneol=unset#text/plain
src/test/java/org/lds/sso/appwrap/ConfigSamplesVerificationTest.java -text svneol=unset#text/plain
src/test/java/org/lds/sso/appwrap/ConfigTest.java -text svneol=unset#text/plain
src/test/java/org/lds/sso/appwrap/EntitlementsManagerOESConformanceTest.java -text svneol=unset#text/plain
src/test/java/org/lds/sso/appwrap/EntitlementsManagerTest.java -text svneol=unset#text/plain
src/test/java/org/lds/sso/appwrap/NvPairTest.java -text svneol=unset#text/plain
src/test/java/org/lds/sso/appwrap/RepeatRequestCacheTest.java -text svneol=unset#text/plain
src/test/java/org/lds/sso/appwrap/SiteMatcherTest.java -text svneol=unset#text/plain
src/test/java/org/lds/sso/appwrap/TestJettyJspApproach.java -text svneol=unset#text/plain
src/test/java/org/lds/sso/appwrap/TestTimestamp.java -text svneol=unset#text/plain
src/test/java/org/lds/sso/appwrap/TestUtilities.java -text svneol=unset#text/plain
src/test/java/org/lds/sso/appwrap/UriMatcherTest.java -text
src/test/java/org/lds/sso/appwrap/XmlConfigLoaderTest.java -text svneol=unset#text/plain
src/test/java/org/lds/sso/appwrap/bootstrap/RemoteStartStopTest.java -text
src/test/java/org/lds/sso/appwrap/certs/CaCertificateGenerator.java -text
src/test/java/org/lds/sso/appwrap/conditions/evaluator/EvaluationContextTest.java -text svneol=unset#text/plain
src/test/java/org/lds/sso/appwrap/conditions/evaluator/GlobalHeaderNamesTest.java -text svneol=unset#text/plain
src/test/java/org/lds/sso/appwrap/conditions/evaluator/LogicalSyntaxEvaluationEngineTest.java -text svneol=unset#text/plain
src/test/java/org/lds/sso/appwrap/conditions/evaluator/syntax/ANDTest.java -text svneol=unset#text/plain
src/test/java/org/lds/sso/appwrap/conditions/evaluator/syntax/AttributeTest.java -text
src/test/java/org/lds/sso/appwrap/conditions/evaluator/syntax/ComplexSyntaxTest.java -text svneol=unset#text/plain
src/test/java/org/lds/sso/appwrap/conditions/evaluator/syntax/NOTTest.java -text svneol=unset#text/plain
src/test/java/org/lds/sso/appwrap/conditions/evaluator/syntax/ORTest.java -text svneol=unset#text/plain
src/test/java/org/lds/sso/appwrap/conditions/evaluator/syntax/StringWriterHandler.java -text svneol=unset#text/plain
src/test/java/org/lds/sso/appwrap/conditions/evaluator/syntax/TestBaseClass.java -text svneol=unset#text/plain
src/test/java/org/lds/sso/appwrap/identity/CascadingUserSourceIntegrationTest.java -text
src/test/java/org/lds/sso/appwrap/identity/SessionManagerTest.java -text svneol=unset#text/plain
src/test/java/org/lds/sso/appwrap/identity/TestLdapStore.java -text
src/test/java/org/lds/sso/appwrap/identity/UserManagerTest.java -text svneol=unset#text/plain
src/test/java/org/lds/sso/appwrap/identity/UserTest.java -text
src/test/java/org/lds/sso/appwrap/proxy/CookiePathAndRedirectRewriteTest.java -text svneol=unset#text/plain
src/test/java/org/lds/sso/appwrap/proxy/CrossDomainSignMeInOutTest.java -text svneol=unset#text/plain
src/test/java/org/lds/sso/appwrap/proxy/ListenerCoordinatorTest.java -text
src/test/java/org/lds/sso/appwrap/proxy/LocalHostTest.java -text svneol=unset#text/plain
src/test/java/org/lds/sso/appwrap/proxy/PolicyServiceUrlTest.java -text svneol=unset#text/plain
src/test/java/org/lds/sso/appwrap/proxy/RequestHandlerIntegrationTest.java -text svneol=unset#text/plain
src/test/java/org/lds/sso/appwrap/proxy/RequestHandlerTest.java -text svneol=unset#text/plain
src/test/java/org/lds/sso/appwrap/proxy/Rfc2817Test.java -text
src/test/java/org/lds/sso/appwrap/proxy/ServiceUrlInjected4RootUrlTest.java -text
src/test/java/org/lds/sso/appwrap/proxy/SignMeInOutTest.java -text svneol=unset#text/plain
src/test/java/org/lds/sso/appwrap/proxy/StartLineTest.java -text svneol=unset#text/plain
src/test/java/org/lds/sso/appwrap/proxy/StripEmptyHeadersTest.java -text svneol=unset#text/plain
src/test/java/org/lds/sso/appwrap/proxy/header/ConnectionHeaderHndlrTest.java -text
src/test/java/org/lds/sso/appwrap/proxy/header/HeaderBufferTest.java -text svneol=unset#text/plain
src/test/java/org/lds/sso/appwrap/proxy/header/HeaderDefTest.java -text svneol=unset#text/plain
src/test/java/org/lds/sso/appwrap/proxy/header/HeaderTest.java -text svneol=unset#text/plain
src/test/java/org/lds/sso/appwrap/rest/oes/v1/RestHttpTest.java -text svneol=unset#text/plain
src/test/java/org/lds/sso/appwrap/ui/JspUtilsTest.java -text svneol=unset#text/plain
src/test/java/org/lds/sso/appwrap/ui/rest/CodaServiceResponseParserTest.java -text svneol=unset#text/plain
src/test/resources/CodaServiceResponseParserTest-good.txt -text svneol=unset#text/plain
src/test/resources/CookiePathAndRedirectConfig.xml -text
src/test/resources/LocalHostTestConfig.xml -text
src/test/resources/OtherHostPolicyConfig.xml -text
src/test/resources/RFC2817TestConfig.xml -text
src/test/resources/RequestHandlerIntegrationTestFile1.txt -text svneol=unset#text/plain
src/test/resources/RequestHandlerIntegrationTestFile2.txt -text svneol=unset#text/plain
src/test/resources/RhTestConfig.xml -text
src/test/resources/RhTestConfig2.xml -text
src/test/resources/RhTestConfig3.xml -text
src/test/resources/ServiceUrlInjectedTestConfig.xml -text
src/test/resources/SignMeInOutTestConfig.xml -text
src/test/resources/SiteMatcherTestConfig.xml -text
src/test/resources/StripEmptyHeaderTestConfig.xml -text
src/test/resources/XmlConfigDefaultRuleTest.xml -text
src/test/resources/XmlConfigLoaderTest.txt -text svneol=unset#text/plain
